body {
    font-family: Arial, sans-serif;
    background-color: #abc5fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.box {
    background-color: #00f7ff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.timerbox {
    margin-bottom: 20px;
}

h5.timer {
    font-size: 48px;
    color: #333;
}

.buttonsboxes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bottun-func {
    background-color: #00ff15;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bottun-func:hover {
    background-color: #0056b3;
}

.bottun-func:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.lap-time{
    position: relative;
    bottom: 40px;
    right: 70px;
}